@font-face {
  font-family: "Mona Sans";
  src: url("../../../assets/font/Mona-Sans.woff2")
      format("woff2 supports variations"),
    url("../../../assets/font/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../../../assets/font/JetBrainsMono-Regular.woff2") format("woff2"),
    url("../../../assets/font/JetBrainsMono-Bold.woff2") format("woff2");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  overflow-x: hidden;
}

.level3 {
  background-color: #1b1f24;
}

body {
  background-color: #1b1f24;
}

.container3 {
  margin: 0.38rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.question3 {
  font-family: "JetBrains Mono", monospace;
  position: relative;
  font-size: 2rem;
  font-weight: 850;
  margin-top: 1rem;
  margin-bottom: 0;
  top: 1.9rem;
  background-color: rgb(48, 54, 61);
  border-radius: 1.5rem;
  width: 20rem;
  height: 3.5rem;
  text-align: center;
  line-height: 3.5rem;
  border: 2px solid #1be985;
}

.ABC3 {
  /* position: relative; */
  /* margin-top: 50% ; */
  background-color: #24292e;

  width: 43.75rem;
  height: 18.75rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  border: 2px solid #1be985;
  padding: 5em;
  border-radius: 2.5rem;
  background-color: #24292e;
  box-shadow: 0 0 0 0.5px #000, 0 30px 30px rgba(0, 0, 0, 0.08),
    0 15px 15px rgba(0, 0, 0, 0.08), 0 10px 8px rgba(0, 0, 0.08),
    0 4px 4px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.08);
}

.Q3 {
  font-size: 3.125rem;
  color: white;
  font-family: "JetBrains Mono";
  width: 90%;
  margin: auto;
}

.R3 {
  font-size: 1.875rem;
  font-weight: 300;
  color: white;
  font-family: "JetBrains Mono";
  width: 70%;
  text-align: left;
  margin: auto;
}

/* .ABC_3 {
    color: black;
    width: 21.875rem;
    font-family: 'JetBrains Mono';

    margin: 4.5% auto 0 auto;


} */

.submit-btn {
  position: absolute;
  margin: auto;
  left: 45%;
  font-weight: bold;
  background-color: #1be985;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  text-align: center;

  font-size: 1rem;
  margin: auto;
  cursor: pointer;
  border-radius: 4px;
}

.submit-btn:hover {
  background-color: #15bb6b;
}

.ABC_3 {
  width: 100%;
  max-width: 22rem;
  margin: 1.5rem auto 0 auto;
  font-family: "JetBrains Mono", monospace;
  font-size: 1rem;
  background-color: #495058;
  border: 2px solid #1be985;
  border-radius: 0.5rem;
  color: black;
  padding: 0.5rem;
  box-shadow: 0 0 5px rgba(27, 233, 133, 0.5);
  transition: box-shadow 0.3s, border 0.3s;
}

.ABC_3:hover {
  border-color: #1be985;
  box-shadow: 0 0 10px rgba(27, 233, 133, 0.8);
}
